.select {
  position: relative;
  width: 200px;
  color: #333;
}

.button {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 0;
  padding: 0 8px 0 12px;
  color: #666;
}

.button[data-pressed="true"] {
  transform: scale(1);
}

.selectValue {
  flex: 1;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selectValue[data-placeholder="true"] {
  font-weight: normal;
  color: #999;
}

.chevron {
  margin-left: 8px;
}

.popover {
  width: 200px;
  padding: 0;
}

/* Hide the description inside select value slot */
.selectValue [slot="description"] {
  display: none;
}
