.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  max-width: var(--container-max-width);
  padding: var(--space-lg);
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    padding: var(--space-2xl) var(--space-7xl);
  }
}

.heroHeader {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
}

.mobileHeroText {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
}
@media (min-width: 768px) {
  .mobileHeroText {
    display: none;
  }
}

.desktopHeroText {
  display: none;
}
@media (min-width: 768px) {
  .desktopHeroText {
    display: block;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
  }
}

.searchSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: 100%;
}
@media (min-width: 768px) {
  .searchSection {
    flex-direction: row;
  }
}

.researchSection {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--space-lg);
}
@media (min-width: 768px) {
  .researchSection {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .researchSection {
    grid-template-columns: repeat(3, 1fr);
  }
}

.paginationSection {
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
  align-items: center;
  justify-content: center;
  margin-bottom: var(--space-xl);
}

.pagingButton {
  width: fit-content;
  padding: var(--space-sm);
  font-size: var(--font-size-sm);
}

.pagingIndicator {
  flex: none;
  width: auto;
  font-size: var(--font-size-md);
}

.iconChevron {
  width: var(--icon-size-lg);
  height: var(--icon-size-lg);
}
