.status {
  font-weight: var(--font-weight-semibold);
}

.status--accepted {
  color: var(--color-green-500);
}

.status--rejected {
  color: var(--color-red-500);
}

.status--pending {
  color: var(--color-yellow-500);
}

.actionButtonContainer {
  display: flex;
}

.actionButton {
  max-width: 100px;
  padding: var(--space-sm) var(--space-lg);
  font-size: var(--font-size-xs);
}
